.app {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.map {
    background-color: rgb(222, 222, 172);
    height: 150px;
}

.spark1 {
    background-color: rgb(255, 155, 155);
    height: 150px;
}

.spark2 {
    background-color: rgb(176, 230, 176);
    height: 150px;
}

.mapboxgl-canvas {
    left: 0px;
    top: 0px;
}